.App {
  background-color: #222;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.App-logo {
  height: 80px;
}

.App-header {
  font-family: 'Avenir Next', san-serif;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100%;
  width: 100%;
}

.App-divider {
  width: 40%;
  border: 1px solid white;
}

.App-title {
  font-size: 1.5em;
  font-weight: 100;
}

.App-intro {
  font-style: italic;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
